@model Onibus.Models.rota

@{
    ViewBag.Title = "Excluir Rota";
}

<h2>Excluir Rota</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeRota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeRota)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
